h1{
	color:red;
}
h2{
	color:green;
}

.logo {
	width 130px;
	background-color: black;
}

header {
	background-color: #ffffff;
}

.meni {
	
}
footer {
	background-color: gray;
}

.glavni_kontejner {
	background-color: #000000;
	color: #ffffff;
	padding: 0px 0px 0px 350px;
	margin: 100px 0px 100px 0px;
	border: 5px dashed red;
}

.div1{
	display: flex;
	
}

.div1 > div{
	flex: 1;
	margin: 5px;

}